.navbar {
  background-color: transparent;
  padding-left: 0px;
}
.navbar-brand{
  font-size: 80px;
}
.jumbotron{
  padding-bottom: 32px;
}
#one-hide{
  display: none;
}
#two-hide{
  display: none;
}
#three-hide{
  display: none;
}
#four-hide{
  display: none;
}
#five-hide{
  display: none;
}
#six-hide{
  display: none;
}
#seven-hide{
  display: none;
}
#eight-hide{
  display: none;
}
#nine-hide{
  display: none;
}
#ten-hide{
  display: none;
}
#eleven-hide{
  display: none;
}
#twelve-hide{
  display: none;
}
#thirteen-hide{
  display: none;
}
#fourteen-hide{
  display: none;
}
#fifteen-hide{
  display: none;
}
#sixteen-hide{
  display: none;
}
#seventeen-hide{
  display: none;
}
#eighteen-hide{
  display: none;
}
#nineteen-hide{
  display: none;
}
#twenty-hide{
  display: none;
}
/* .alert{
  min-height: 100%;
}
.col-lg-4{
  min-height: 100%;
}
.flash-bar{
  height:300px;
}
.flash-bar col-lg-4{
  height:300px;
} */